### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-files
*.bclicense
*.flf
#Test results file
TestResults.xml
*.csv

# Esclude la cartella dell'ambiente virtuale
venv/
.venv/
env/
ENV/

# Esclude i file precompilati di Python che appesantiscono la cronologia Git
**/__pycache__/
*.py[cod]
*$py.class

# ==========================================
# VS CODE & IDE CONFIGURATIONS
# ==========================================
# Esclude le impostazioni locali di VS Code
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# ==========================================
# STREAMLIT SECRETS & ENV FILES
# ==========================================
.streamlit/secrets.toml
*.env
.env.local